@import "tailwindcss";
@layer theme, base, components, utilities;

/* Lapis Lazuli (logo - dark blue) - #22577A */
/* Verdigris (logo - green-ish) - #38A3A5 */

@layer base {
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  button {
    cursor: pointer;
  }
}

@layer utilities {
  .leaflet-container.custom-cursor {
    cursor: url("/images/pindrop-icon/custom-pindrop-cursor-red.png") 19 38,
      crosshair !important;
  }
  /* .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  } */
}

/* Loading bar "loading" pulse */
@layer components {
  .custom-pulse {
    animation-duration: 1.2s;
  }
}

/* Horizontal scroll/caroousel component */
.animate-scroll-left {
  animation: scroll-left 100s linear infinite;
}

.animate-scroll-left:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-4875.5px);
  }
}

/* Custom scrollbar styling */
.scroll-container::-webkit-scrollbar {
  height: 14px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #9fd8ce;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #5a189a;
}
